<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add a Park</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Park Name</label>
        <input class="form-control" th:field="${park.name}" />
        <span th:errors="${park.name}" class="error"></span>
    </div>


    <div class="form-group">
        <label th:for="location">Park Location</label>
        <input class="form-control" th:field="${park.location}" />
        <span th:errors="${park.location}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="difficulty">Trail Difficulty</label>
        <input class="form-control" th:field="${park.difficulty}" />
        <span th:errors="${park.difficulty}" class="error"></span>
    </div>

    <input type="submit" value="Add Park" />
</form>

</body>
</html>