<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>View parks by:</h2>
    <ul>
        <li th:each="action : ${actions}">
            <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
        </li>
    </ul>

</div>


    <h3> Our motto: when your kids are bouncing off the walls,<br> then remove the walls!</h3>


<div>
<!--    <img src="images/IMG_1213.jpg"> -->
<!--    this code works for the images too-->
    <img id = "luella-main" src="/images/IMG_1213.jpg" th:src = "@{/images/IMG_1213.jpg}"/>
    <img id = "Luella-tree" src="/images/IMG_1193.jpg" th:src = "@{/images/IMG_1193.jpg}"/>
</div>

</body>

</html>