<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all park fields. -->

    <div>
        <table th:each="park : ${parks}" class = "park-listings">

            <tr>
                <td>ID: </td>
                <td th:text="${park.id}"></td>
            </tr>

            <tr>
                <td>Park: </td>
                <td th:text="${park.name}"></td>
            </tr>
<!--            <tr>-->
<!--                <td>Trail Name: </td>-->
<!--                <td th:text="${park.trail}"></td>-->
<!--            </tr>-->
            <tr>
                <td>Location: </td>
                <td th:text="${park.location}"></td>
            </tr>
            <tr>
                <td>Difficulty Level: </td>
                <td th:text="${park.difficultyLevel}"></td>
            </tr>
            <tr>
                <td>Trail Type: </td>
                <td th:text="${park.trailType}"></td>
            </tr>
            <tr>
                <td>Trail Distance: </td>
                <td th:text="${park.trailDistance}"></td>
            </tr>
            <br><br>
        </table>


    </div>

</body>
</html>
